exportPattern("^[[:alpha:]]+")
importFrom(magrittr, "%>%")
importFrom(dplyr, mutate, reframe, group_by, ungroup, distinct, filter, n_distinct, mutate_if, arrange, left_join)
importFrom(tidyr, separate)
importFrom(tibble, as_tibble)
importFrom(reshape2, melt)
importFrom(stringr, str_replace)
importFrom(Seurat, AggregateExpression)
importFrom(pbapply, pblapply)
importFrom(data.table, data.table, rbindlist)
importFrom(ggplot2, ggplot, facet_wrap, ggtitle, ylab)
importFrom(stats, chisq.test, p.adjust)
importFrom(Gviz, GeneRegionTrack, AlignmentsTrack, plotTracks)
importFrom(GenomicRanges, seqnames, strand, start, end, width, split)

